<h2>Titok szerkesztése</h2>

<form action="/secrets/<%= @secret.id %>" method="post">
  <p><input type="hidden" name="_method" value="put"/></p>
  <%= form_field "Cím", @secret, :title %>
  <%= form_field "Titok", @secret, :body, :textarea %>
  <%= form_field "Beavatottak", @secret, :viewer_logins %>
  <p class="hint">felhasználónevek vesszővel elválasztva</p>
  <p><input type="submit" value="Mehet"/></p>
</form>

<p><a href="/secrets/<%= @secret.id %>">vissza</a></p>
