<h2>Saját adatok szerkesztése</h2>

<form action="/users/<%= @user.id %>" method="post">
  <p><input type="hidden" name="_method" value="put"/></p>
  <p><strong>Felhasználónév:</strong> <%= @user.login %></p>
  <%= form_field "Jelszó", @user, :password, :password %>
  <%= form_field "Jelszó még egyszer", @user, :password_confirmation, :password %>
  <%= form_field "Email", @user, :email %>
  <%= form_field "Keresztnév", @user, :first_name %>
  <%= form_field "Vezetéknév", @user, :last_name %>
  <p><input type="submit" value="Mehet"/></p>
</form>

<p><a href="/users/<%= @user.id %>">vissza</a></p>
